.container {
  max-width: 1200px;
  margin: 0 auto; }

input:focus, button:focus, textarea:focus {
  outline: 2px solid blue; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

button {
  border: 0;
  background: transparent;
  padding: 16px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
  transition: .1s all ease-in-out; }
  button:hover {
    border-color: orange;
    color: orange; }

.accessibility__form {
  display: flex;
  gap: 20px;
  padding-top: 32px; }
  .accessibility__form > div {
    background: rgba(152, 251, 152, 0.4);
    display: flex;
    flex: 1 1 50%;
    padding: 16px;
    position: relative; }
    .accessibility__form > div:after {
      content: 'Best practice';
      font-family: Verdana;
      position: absolute;
      bottom: 10px;
      right: 10px;
      font-size: 11px;
      opacity: .4; }
  .accessibility__form .--non-accessibility {
    background: rgba(255, 182, 193, 0.3); }
    .accessibility__form .--non-accessibility:after {
      content: 'Bad practice';
      left: 10px;
      right: unset; }
    .accessibility__form .--non-accessibility * {
      outline: none !important; }

.accessibility__fieldset {
  border: none; }
  .accessibility__fieldset legend {
    font-size: 24px;
    line-height: 32px;
    margin: 0; }
  .accessibility__fieldset input {
    margin: 0; }
    .accessibility__fieldset input[type=radio], .accessibility__fieldset input[type=checkbox] {
      margin-right: 8px; }
  .accessibility__fieldset label {
    display: flex; }
  .accessibility__fieldset div + div {
    margin-top: 24px; }
  .accessibility__fieldset div:last-of-type {
    margin-bottom: 24px; }

.checkbox {
  flex-direction: row-reverse;
  justify-content: flex-end; }

.form__buttons-group {
  display: flex;
  gap: 24px; }
  .form__buttons-group button:last-of-type {
    border-color: rgba(0, 0, 0, 0.3);
    color: rgba(0, 0, 0, 0.3); }
    .form__buttons-group button:last-of-type:hover {
      color: black;
      border-color: black; }
