<!--<header class="header">-->
  <!--<h1 class="header__logo">Logotype</h1>-->
  <!--<input type="search" class="input header__search" placeholder="Search...">-->

  <!--<nav class="header__nav nav">-->
    <!--<a href="#" class="header__link nav__link link">Link 1</a>-->
    <!--<a href="#" class="header__link nav__link link">Link 2</a>-->
    <!--<a href="#" class="header__link nav__link link">Link 3</a>-->
  <!--</nav>-->

<!--</header>-->


<div class="parent">
  <div class="box-red"></div>
  <div class="box-green"></div>
  <div class="box-orange"></div>
  <div class="box-blue"></div>
  <div class="box-indigo"></div>

</div>